body{
background-color: rgb(70, 142, 236);
font: normal 15px Arial;
}
header{
color: #ffffff;
text-align: center;

}
main{
background-color: #ffffff;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
div{
    text-align: center;
    padding: 8px;
}
#foto img{
    width: 250px;
}


footer{
color: #ffffff;
text-align: center;
}
